<ion-view view-title="Game statistics">
  <ion-content class="padding">

    <!--if has not started -->
    <div ng-if="currentGame.status == 'scheduled'">
      <div class="item item-divider scheduled-div">
        Game has not started yet. <br> Check again on </br>
        <br> <span ng-app="" class="scheduled-time">{{currentGame.scheduled | date:'medium'}}</span>! </br>
      </div>
      <div class="scorecard-wrapper">
        <div class="time">
          <svg width="120px" height="120px">
            <circle class="time-counter" stroke-width="6" cx="60" cy="60" r="60">
            </circle>
          </svg>
          <div class="min">N/A
          </div>
        </div>
        <div class="team-top">
          <p>{{currentGame.home.alias}}</p>
        </div>
        <div class="score-top">
          <p contenteditable="true">0</p>
        </div>
        <div class="team-bottom">
          <p>{{currentGame.away.alias}}</p>
        </div>
        <div class="score-bottom">
          <p contenteditable="true">0</p>
        </div>
      </div>
    </div>

    <!--if has started -->
    <div ng-if="currentGame.status != 'closed' && currentGame.status != 'scheduled'">

      <!--if has ended-->
      <div class="list card" ng-show="currentGame.status == 'closed'">
        <div class="item item-divider">Final Score</div>
      </div>

      <!--if the game is playing-->
      <div class="list card" ng-show="currentGame.status != 'closed'">
        <div class="item item-divider">Quarter {{currentGame.quarter}}</div>
      </div>

      <div class="scorecard-wrapper">
        <div class="time">
          <svg width="120px" height="120px">
            <circle class="time-counter" stroke-width="6" cx="60" cy="60" r="60">
            </circle>
          </svg>
          <div class="min" >{{currentGame.clock}}
          </div>
        </div>
        <div class="team-top">
          <p>{{currentGame.home.alias}}</p>
        </div>
        <div class="score-top">
          <p contenteditable="true">{{currentGame.home.points}}</p>
        </div>
        <div class="team-bottom">
          <p>{{currentGame.away.alias}}</p>
        </div>
        <div class="score-bottom">
          <p contenteditable="true">{{currentGame.away.points}}</p>
        </div>
      </div>

      <form name="commentForm" action="#" ng-submit="submitForm()">
        <input type="text" ng-model="form.comment" placeholder="Comment...">
        <input type="submit">
      </form>
    </div>


  </ion-content>
</ion-view>


